@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.post {
  padding: 0 0 86px;

  &__heading {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    padding: calc( var(--header-height) + 100px) 0 86px;

    a {
      display: inline-block;
      padding-left: 28px;
      position: relative;
      font-size: 16px;
      font-weight: var(--fw-600);
      color: var(--color-blue-400);
      line-height: 1.5;
      margin-bottom: 36px;
      transition: color 0.4s;

      &:hover,
      &:focus {
        color: var(--color-blue-800);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-image: url('../images/icons/arrow-left-blue.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;

      }
    }

    h1 {
      font-weight: var(--fw-500);
      letter-spacing: 0.48px;
      margin-bottom: 20px;
      letter-spacing: 1.3px;
    }

    h2 {
      font-weight: var(--fw-400);
      letter-spacing: 0.48px;
      font-size: 24px;
      color: var(--color-blue-400);
      text-transform: uppercase;
    }
  }

  img {
    max-width: 1920px;
    min-height: 643px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 6;
    margin-bottom: 86px;
  }

  &__content {

    p {
      color: var(--color-black-800);

      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    h3 {
      font-size: 28px;
      margin-bottom: 24px;
      color: var(--color-black-800);
    }

    img {
      min-height: 430px;
      height: 100%;
      aspect-ratio: 16 / 4;
      margin-bottom: 48px;
    }
  }

  @include media(mobile-l) {

    &__heading {
      padding: calc( var(--header-height) + 60px) 0 60px;
    }

    img {
      min-height: unset;
      aspect-ratio: 16 / 10;
      margin-bottom: 48px;
    }

    &__content  {
      img {
        aspect-ratio: 16 / 6;
      }
    }
  }

  @include media(mobile-m) {

    &__heading {
      h1, h2 {
        text-align: center;
      }
    }

  }
}
