@use '../utils/functions/' as *;
@use '../utils/mixins/' as *;

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 15;
  width: 100%;
  padding: 20px 0;
  background-color: var(--color-white);

  .container {
    max-width: 1440px;
    padding: 0 24px;
  }

  &__inner {
    background: transparent;
  }

  .logo {
    display: none;
    align-items: center;
    justify-content: center;

    @include media(tablet-wide) {
      display: flex;
    }
  }

  .nav__btns {
    gap: 20px;

    .btn {
      margin: 0;
    }

    .btn--user {
      color: var(--color-blue-400);
      background-color: var(--color-blue-50);

      &:hover,
      &:focus {
        color: var(--color-white);
        background-color: var(--color-blue-400);
      }
    }
  }

  &.hide {
    transform: translateY(calc(-100% - 30px));
  }

  @include media(tablet-wide) {
    min-height: unset;
  }

  @include media(mobile-s) {

    .logo {
      max-width: 250px;
    }
  }

}