@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;


.questions {
  padding: 86px 0;
  background-color: var(--color-black-800);
  position: relative;
  z-index: 1;

  .description {
    color: var(--color-white);

    &::before {
      background-color: var(--color-white);
    }
  }

  h2 {
    color: var(--color-white);
    margin-bottom: 60px;
  }

  &__item {
    padding: 40px 30px;
    color: var(--color-white);

    h3 {
      font-size: 28px;
      font-weight: var(--fw-600);
      margin-bottom: 24px;
    }

    p {
      font-size: 16px;
    }

    &--first {
      background-color: var(--color-white-200);
    }

    &--second {
      background-color: var(--color-white-100);
    }

    &--third {
      background-color: var(--color-white-500);
    }
  }

  @include media(mobile-l) {
    padding: 40px 0;
  }
  
  @include media(mobile-m) {
    .description {
      font-size: 18px;
    }

    h2 {
      text-align: center;
    }

    &__item {

      h3 {
        font-size: 26px;
        text-align: center;
      }
    }
  }
}